<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.MiaoShaMapper">
    <select id="getMiaoshaOrder" resultType="com.example.demo.vo.OrderInfoVo">
        select * from order_info where id=#{id}
    </select>
    <delete id="deleteMiaoshaOrder">
        delete from miaosha_order
    </delete>


</mapper>